socradar-sentinel-integration.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "defaultValue": "SOCRadar-CloseAlarm-OnIncidentClose",
      "type": "string",
      "metadata": {
        "description": "Logic App (Playbook) adı"
      }
    },
    "SOCRadarAPIKey": {
      "type": "securestring",
      "metadata": {
        "description": "SOCRadar API Key - [https://platform.socradar.com](https://platform.socradar.com) adresinden alınabilir"
      }
    },
    "WorkspaceName": {
      "type": "string",
      "metadata": {
        "description": "Azure Sentinel Log Analytics Workspace adı"
      }
    },
    "WorkspaceResourceGroup": {
      "type": "string",
      "metadata": {
        "description": "Azure Sentinel Workspace'in bulunduğu Resource Group"
      }
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "SOCRadarAPIEndpoint": "https://platform.socradar.com/api"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "Azure Sentinel Connection",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "tags": {
        "hidden-SentinelTemplateName": "SOCRadar-Integration",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "SOCRadarAPIKey": {
              "defaultValue": "[parameters('SOCRadarAPIKey')]",
              "type": "SecureString"
            },
            "SOCRadarAPIEndpoint": {
              "defaultValue": "[variables('SOCRadarAPIEndpoint')]",
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Initialize_Alarm_ID_Variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AlarmID",
                    "type": "string",
                    "value": ""
                  }
                ]
              }
            },
            "Check_Incident_Status": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['object']?['properties']?['status']",
                      "Closed"
                    ]
                  }
                ]
              },
              "runAfter": {
                "Initialize_Alarm_ID_Variable": [
                  "Succeeded"
                ]
              },
              "actions": {
                "Get_Alert_Product_Names": {
                  "type": "Compose",
                  "inputs": "@triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames']",
                  "runAfter": {}
                },
                "Loop_Through_Product_Names": {
                  "type": "Foreach",
                  "foreach": "@outputs('Get_Alert_Product_Names')",
                  "actions": {
                    "Check_If_SOCRadar_Alert": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "contains": [
                              "@items('Loop_Through_Product_Names')",
                              "SOCRadar-AlarmID-"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Set_Alarm_ID": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "AlarmID",
                            "value": "@replace(items('Loop_Through_Product_Names'), 'SOCRadar-AlarmID-', '')"
                          }
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Get_Alert_Product_Names": [
                      "Succeeded"
                    ]
                  }
                },
                "Check_if_Alarm_ID_exists": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@variables('AlarmID')",
                            ""
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@variables('AlarmID')",
                            null
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Determine_Close_Reason": {
                      "type": "Switch",
                      "expression": "@triggerBody()?['object']?['properties']?['classification']",
                      "cases": {
                        "FalsePositive": {
                          "case": "FalsePositive",
                          "actions": {
                            "Close_as_False_Positive_in_SOCRadar": {
                              "type": "Http",
                              "inputs": {
                                "method": "POST",
                                "uri": "@{parameters('SOCRadarAPIEndpoint')}/incidents/@{variables('AlarmID')}/false-positive",
                                "headers": {
                                  "Authorization": "Bearer @{parameters('SOCRadarAPIKey')}",
                                  "Content-Type": "application/json"
                                },
                                "body": {
                                  "alarmIds": [
                                    "@int(variables('AlarmID'))"
                                  ],
                                  "comments": "Incident closed as False Positive in Azure Sentinel. Incident ID: @{triggerBody()?['object']?['properties']?['incidentNumber']}"
                                }
                              }
                            }
                          }
                        },
                        "TruePositive": {
                          "case": "TruePositive",
                          "actions": {
                            "Resolve_Incident_in_SOCRadar": {
                              "type": "Http",
                              "inputs": {
                                "method": "POST",
                                "uri": "@{parameters('SOCRadarAPIEndpoint')}/incidents/@{variables('AlarmID')}/resolve",
                                "headers": {
                                  "Authorization": "Bearer @{parameters('SOCRadarAPIKey')}",
                                  "Content-Type": "application/json"
                                },
                                "body": {
                                  "alarmIds": [
                                    "@int(variables('AlarmID'))"
                                  ],
                                  "comments": "Incident resolved in Azure Sentinel. Classification: @{triggerBody()?['object']?['properties']?['classification']}. Incident ID: @{triggerBody()?['object']?['properties']?['incidentNumber']}"
                                }
                              }
                            }
                          }
                        }
                      },
                      "default": {
                        "actions": {
                          "Resolve_as_Default_in_SOCRadar": {
                            "type": "Http",
                            "inputs": {
                              "method": "POST",
                              "uri": "@{parameters('SOCRadarAPIEndpoint')}/incidents/@{variables('AlarmID')}/resolve",
                              "headers": {
                                "Authorization": "Bearer @{parameters('SOCRadarAPIKey')}",
                                "Content-Type": "application/json"
                              },
                              "body": {
                                "alarmIds": [
                                  "@int(variables('AlarmID'))"
                                ],
                                "comments": "Incident closed in Azure Sentinel. Reason: @{triggerBody()?['object']?['properties']?['classificationReason']}. Incident ID: @{triggerBody()?['object']?['properties']?['incidentNumber']}"
                              }
                            }
                          }
                        }
                      }
                    },
                    "Add_Comment_to_Sentinel_Incident": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/Incidents/Comment",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "✅ SOCRadar alarm automatically closed. Alarm ID: @{variables('AlarmID')}"
                        }
                      },
                      "runAfter": {
                        "Determine_Close_Reason": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "Loop_Through_Product_Names": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Add_Warning_Comment": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                            }
                          },
                          "method": "post",
                          "path": "/Incidents/Comment",
                          "body": {
                            "incidentArmId": "@triggerBody()?['object']?['id']",
                            "message": "⚠️ SOCRadar Alarm ID bulunamadı. Alert'lerin 'ProductName' alanında 'SOCRadar-AlarmID-[ID]' formatında olmalı."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "PlaybookName": {
      "type": "string",
      "value": "[parameters('PlaybookName')]"
    },
    "PlaybookResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    }
  }
}
