socradar-sentinel-integration-arm-v1-backup.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "SOCRadar-CloseAlarm-OnIncidentClose"
    },
    "SOCRadarAPIKey": {
      "type": "SecureString",
      "metadata": {
        "description": "Your SOCRadar API Key (find in SOCRadar Platform → Settings → API Keys)"
      }
    },
    "SOCRadarAPIEndpoint": {
      "type": "String",
      "defaultValue": "https://platform.socradar.com/api"
    },
    "SOCRadarCompanyId": {
      "type": "String",
      "metadata": {
        "description": "Your SOCRadar Company ID (find in SOCRadar Platform → Settings → Company Info)"
      }
    },
    "SentinelConnectionName": {
      "type": "String",
      "defaultValue": "azuresentinel",
      "metadata": {
        "description": "Azure Sentinel API Connection adı"
      }
    },
    "SentinelWorkspaceName": {
      "type": "String",
      "metadata": {
        "description": "Azure Sentinel Log Analytics Workspace adı"
      }
    },
    "SentinelResourceGroup": {
      "type": "String",
      "defaultValue": "[resourceGroup().name]",
      "metadata": {
        "description": "Sentinel workspace'in bulunduğu Resource Group"
      }
    },
    "SentinelSubscriptionId": {
      "type": "String",
      "defaultValue": "[subscription().subscriptionId]",
      "metadata": {
        "description": "Sentinel workspace'in bulunduğu Subscription ID"
      }
    }
  },
  "variables": {
    "sentinelConnectionId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/', parameters('SentinelConnectionName'))]",
    "workspaceId": "[concat('/subscriptions/', parameters('SentinelSubscriptionId'), '/resourceGroups/', parameters('SentinelResourceGroup'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('SentinelWorkspaceName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('SentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "Azure Sentinel Connection",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('SentinelConnectionName'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "SOCRadarAPIKey": {
              "type": "SecureString"
            },
            "SOCRadarAPIEndpoint": {
              "type": "String"
            },
            "SOCRadarCompanyId": {
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-update"
              }
            }
          },
          "actions": {
            "Initialize_AlarmID": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AlarmID",
                    "type": "string",
                    "value": ""
                  }
                ]
              }
            },
            "Check_Incident_Status": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['object']?['properties']?['status']",
                      "Closed"
                    ]
                  }
                ]
              },
              "runAfter": {
                "Initialize_AlarmID": ["Succeeded"]
              },
              "actions": {
                "Extract_AlarmID_From_Title": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "AlarmID",
                    "value": "@if(empty(triggerBody()?['object']?['properties']?['title']), '', trim(last(split(triggerBody()?['object']?['properties']?['title'], 'SOCRadar-AlarmID-'))))"
                  }
                },
                "Determine_Close_Reason": {
                  "type": "Switch",
                  "expression": "@coalesce(triggerBody()?['object']?['properties']?['classification'], 'Unknown')",
                  "runAfter": {
                    "Extract_AlarmID_From_Title": ["Succeeded"]
                  },
                  "cases": {
                    "FalsePositive": {
                      "case": "FalsePositive",
                      "actions": {
                        "Close_as_False_Positive_in_SOCRadar": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "@{concat(parameters('SOCRadarAPIEndpoint'), '/company/', parameters('SOCRadarCompanyId'), '/alarms/status/change')}",
                            "headers": {
                              "API-KEY": "@{parameters('SOCRadarAPIKey')}",
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "alarm_ids": ["@{variables('AlarmID')}"],
                              "status": 9,
                              "comments": "@{concat('❌ False Positive - Sentinel Incident: ', coalesce(triggerBody()?['object']?['properties']?['incidentNumber'], 'Unknown'))}"
                            }
                          }
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {
                      "Close_as_Resolved_in_SOCRadar": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "@{concat(parameters('SOCRadarAPIEndpoint'), '/company/', parameters('SOCRadarCompanyId'), '/alarms/status/change')}",
                          "headers": {
                            "API-KEY": "@{parameters('SOCRadarAPIKey')}",
                            "Content-Type": "application/json"
                          },
                          "body": {
                            "alarm_ids": ["@{variables('AlarmID')}"],
                            "status": 2,
                            "comments": "@{concat('✅ Resolved - Sentinel Incident: ', coalesce(triggerBody()?['object']?['properties']?['incidentNumber'], 'Unknown'))}"
                          }
                        }
                      }
                    }
                  }
                },
                "Add_Comment_To_Sentinel_Incident": {
                  "type": "ApiConnection",
                  "runAfter": {
                    "Determine_Close_Reason": ["Succeeded"]
                  },
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "@{concat('✅ SOCRadar alarm updated. Alarm ID: ', coalesce(variables('AlarmID'), 'Unknown'))}"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[parameters('SentinelConnectionName')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
              }
            }
          },
          "SOCRadarAPIKey": {
            "value": "[parameters('SOCRadarAPIKey')]"
          },
          "SOCRadarAPIEndpoint": {
            "value": "[parameters('SOCRadarAPIEndpoint')]"
          },
          "SOCRadarCompanyId": {
            "value": "[parameters('SOCRadarCompanyId')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppIdentityPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    },
    "workspaceId": {
      "type": "string",
      "value": "[variables('workspaceId')]"
    }
  }
}
