socradar-sentinel-integration-arm.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "2.0.0",
  "metadata": {
    "description": "SOCRadar-Sentinel Bidirectional Integration - Polling Architecture (v2.0)",
    "version": "2.0.0",
    "lastUpdated": "2025-11-17"
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SOCRadar-CloseAlarm-Polling",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "WorkspaceName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Log Analytics workspace where Microsoft Sentinel is installed"
      }
    },
    "SocradarApiKey": {
      "type": "securestring",
      "metadata": {
        "description": "SOCRadar API Key"
      }
    },
    "CompanyId": {
      "type": "string",
      "metadata": {
        "description": "SOCRadar Company ID"
      }
    },
    "PollingIntervalMinutes": {
      "type": "int",
      "defaultValue": 5,
      "minValue": 1,
      "maxValue": 60,
      "metadata": {
        "description": "How often to check for closed incidents (in minutes)"
      }
    },
    "Location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    }
  },
  "variables": {
    "AzureMonitorLogsConnectionName": "azuremonitorlogs-connection",
    "MicrosoftSentinelResponderRoleId": "3e150937-b8fe-4cfb-8069-0eaf05ecd056"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureMonitorLogsConnectionName')]",
      "location": "[parameters('Location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureMonitorLogsConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('Location'), 'azuremonitorlogs')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('Location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureMonitorLogsConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "SocradarApiKey": {
              "type": "SecureString"
            },
            "CompanyId": {
              "type": "String"
            },
            "WorkspaceId": {
              "type": "String"
            },
            "SubscriptionId": {
              "type": "String"
            },
            "ResourceGroupName": {
              "type": "String"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Minute",
                "interval": "[parameters('PollingIntervalMinutes')]"
              }
            }
          },
          "actions": {
            "Query_Closed_SOCRadar_Incidents": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                  }
                },
                "method": "post",
                "body": "SecurityIncident | where TimeGenerated > ago(10m) | where Status == 'Closed' | where Title contains 'SOCRadar-AlarmID-' | where LastModifiedTime > ago(10m) | project IncidentNumber, Title, Status, LastModifiedTime | summarize arg_max(LastModifiedTime, *) by Title",
                "path": "/queryData",
                "queries": {
                  "subscriptions": "@{parameters('SubscriptionId')}",
                  "resourcegroups": "@{parameters('ResourceGroupName')}",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "@{parameters('WorkspaceId')}",
                  "timerange": "PT20M"
                }
              },
              "runAfter": {}
            },
            "Check_If_Results_Exist": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Query_Closed_SOCRadar_Incidents')?['value'])",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "For_Each_Closed_Incident": {
                  "type": "Foreach",
                  "foreach": "@body('Query_Closed_SOCRadar_Incidents')?['value']",
                  "actions": {
                    "Parse_Incident_Title": {
                      "type": "Compose",
                      "inputs": "@items('For_Each_Closed_Incident')?['Title']",
                      "runAfter": {}
                    },
                    "Extract_Alarm_ID": {
                      "type": "Compose",
                      "inputs": "@split(split(outputs('Parse_Incident_Title'), 'SOCRadar-AlarmID-')[1], ' ')[0]",
                      "runAfter": {
                        "Parse_Incident_Title": ["Succeeded"]
                      }
                    },
                    "Update_SOCRadar_Alarm_Status": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://platform.socradar.com/api/company/@{parameters('CompanyId')}/alarms/status/change",
                        "headers": {
                          "API-KEY": "@{parameters('SocradarApiKey')}",
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "alarm_ids": "@{outputs('Extract_Alarm_ID')}",
                          "status": "2",
                          "comments": "✅ Resolved - Closed in Azure Sentinel"
                        }
                      },
                      "runAfter": {
                        "Extract_Alarm_ID": ["Succeeded"]
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Query_Closed_SOCRadar_Incidents": ["Succeeded"]
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureMonitorLogsConnectionName'))]",
                "connectionName": "[variables('AzureMonitorLogsConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('Location'), 'azuremonitorlogs')]"
              }
            }
          },
          "SocradarApiKey": {
            "value": "[parameters('SocradarApiKey')]"
          },
          "CompanyId": {
            "value": "[parameters('CompanyId')]"
          },
          "WorkspaceId": {
            "value": "[parameters('WorkspaceName')]"
          },
          "SubscriptionId": {
            "value": "[subscription().subscriptionId]"
          },
          "ResourceGroupName": {
            "value": "[resourceGroup().name]"
          }
        }
      }
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "[guid(resourceGroup().id, parameters('PlaybookName'), variables('MicrosoftSentinelResponderRoleId'))]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
      ],
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('MicrosoftSentinelResponderRoleId'))]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'Full').identity.principalId]",
        "principalType": "ServicePrincipal",
        "scope": "[resourceGroup().id]"
      }
    }
  ],
  "outputs": {
    "PlaybookName": {
      "type": "string",
      "value": "[parameters('PlaybookName')]"
    },
    "PlaybookResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "PollingInterval": {
      "type": "string",
      "value": "[concat('Every ', parameters('PollingIntervalMinutes'), ' minutes')]"
    },
    "DeploymentStatus": {
      "type": "string",
      "value": "✅ Successfully deployed! Logic App will poll every few minutes for closed incidents and automatically update SOCRadar. No manual steps required!"
    }
  }
}
